/* ./src/assets/css/main.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: rgba(19, 73, 94, 0.5);
  --main-green-bg: rgba(19, 73, 94, 0.4);
}

body {
  background-color: rgb(216, 216, 216);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.75rem 0;
}
